*{
    margin: 0px;
    padding: 0px;
}
.parents{
    display: flex;
    justify-content: space-between;
    margin: 3px 24px;
    height: 78px;
   /* border: 1px solid blue;*/
}

.child3{
    display: flex;
    margin: 13px 5px;
}

.p1{
    margin:0px 0px;
    opacity: 0.5;
    font-size: 17px;
}
.p2{
    margin: 6px 0px;
    font-size: 17px;
}

.A{
    margin: 2px 10px;
}
.B{
    margin: 0px 7px;
}
.p3{
   margin: 0px 0px;
    opacity: 0.5;
    font-size: 17px;
}
.p4{
    margin: 8px 5px;
    font-size: 17px;
}
.child4{
    display: flex;
    margin: 13px 5px;
}
.p5{
    margin: 0px 7px;
    opacity: 0.5;
    font-size: 17px;
}
.p6{
    margin: 6px 7px;
    font-size: 17px;
}

.child5{
    display: flex;
    margin: 13px 5px;

}
.img-1{
     height: 78px;
     width: 184px;
     margin: 0px 5px;
}
.img-2{
    height: 69px;
    width: 85px;
    margin: 2px 0px;
}
.img-3{
    height: 44px;
    width: 40px;
}
.img-4{
    height:35px;
    width:35px;
    margin: 6px 5px;
}
.img-5{
    height:35px;
    width: 47px;
   margin: 4px 3px;
}
.img-6{
    height: 40px;
    width: 60px;
    margin: 13px 5px;
}
.child_2  ul{  
    display: flex;
    list-style: none;
    gap: 30px;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0px;
}
.child_2{
    display: flex;
    border: 1px solid skyblue;
    background-color: rgb(125, 163, 244);
    color: aliceblue;
    padding: 0px 42px;
}
.k>input{
    width:190px;
    height: 55px;
    margin-left: 40px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-weight: bold;
    font-size: 22px;
    border: 0px solid skyblue;
}
.parents2{
    background-image: url(../images/img3.jpeg);
    height: 280px;
    color: aliceblue;
}
span{
    color: red;
    font-size: 22px;
}
.child_3{
    padding:0px 50px;
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    gap:5px ;
}
h1{
    font-size: 35px;
    margin: 25px 10px;

}
.sumit{
    font-size: 30px;
}
.child_4{
    padding: 0px 50px;
}
.E{
    margin: 30px 50px;
    width: 140px;
    height: 38px;
    font-size: 17px;
    background-color: rgb(125, 163, 244);
    color:white ;
}
.child_6>ul{
    display: flex;
    gap: 25px;
    list-style: none;
    height: 45px;
   margin: 0px 80px;
   margin-top: 20px;
    font-size: 14px;
    font-weight: bold
    
}
  .nav_1{
    border-bottom: 1px solid gray;
  }

/*li:hover{
    background-color: blue;
}*/
.parents3{
    display: flex;
    justify-content: space-between;
}
.logHr{
    border: none;
    border-bottom: 2px dashed blue;
    margin: auto;
    width: 92%;
   
}
.child_7{
    margin: 30px 52px;
}
.img-7{
    width: 390px;
    height: 270px;
    margin: 25px 50px;
}
.H{
    padding: 6px 0px;
}
.parents4{
    display: flex;
    margin: 20px 0px;
}

.child_10{
    margin: 15px 45px;
    
}
hr{
    border: none;
    border-bottom:2px dashed blue;
    margin: 40px 0;
}
.child_11{
    margin: 35px 20px;
    width: 85%;
    height: 470px;
    border: 1px solid black;
    border-radius: 10px;

}

.child_12{
    margin: 18px 20px;
}
i{
    font-size: 35px;
    font-weight: bold;
    color: blue;
}
.p9{
    font-size: 17px;
}
.head{
    margin: 38px 0px;
}
.fisthr{
     border: 1px solid gray;
     margin: 15px 0px;
}
.Secondhr{
    border: 1px solid gray;
    margin: 15px 0px;
}
.threehr{
    border: 1px solid gray;
    margin: 15px 0px;
}
.fourhr{
    border: 1px solid blue;
    margin: 15px 0px;
}
.fivehr{
    border: 1px solid blue;
    margin: 19px 0px;
}
.sixhr{
    border: 1px solid gray;
    margin: 15px 0px;

}
.sevenhr{
    border: none;
    border-bottom: 2px dashed blue;  
}
.p13{
    margin: 0px 55px;
    font-size: 15px;
}
.no{
    border-left: 1px solid blue;
    display: block;
    color: black;
    font-size: 15px;
    padding: 0px 10px;
}
.Box2 {
     width: 50%;
     height: 400px;
}
.m1{
     border: 1px solid black;
     display: flex;
}
.img-8{
     
    width: 60px;
    height: 60px;
}
.img-9{
     height: 200px;
     width: 250px;
}
.form{
    margin: 3px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.span2{
    border-left:1px solid blue;
}
input {
   height: 40px;
   width: 95%;
   padding-left: 15px;
   border-radius: 10px;
}
.box3{
    display: flex;
    width: 200%;
    gap: 30px;
    margin: 40px 0px;
}
.boxchild_1{
    width: 90%;
    height: 315px;
    border: 1px solid gray !important;
}
.O{
    display: flex;
    margin: 0px 15px;
    margin-top: 15px;
    gap: 60px;
}
.img-8{
    height: 55px;
    width: 52px;
}
.img-9{
     height: 170px;
     width: 290px;
     margin: 0px 15px;
}
h4{
    margin: 0px ;
}
.k1{
    font-size: 15px;
}
.Z{
    display: flex;
    gap: 10px;
    margin: 5px 15px;
}
.img-10{
    width: 55px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid black;
}
.u {
     font-size: 18px;
     font-weight: bold;
    margin: 5px 0px;
}
.boxchild_2{
    width: 90%;
    height: 313px;
    border: 1px solid #808080;
    
}

.img-11{
    height: 55px;
    width: 52px;
}
.home-1{
    display: flex;
   margin: 0px 15px;
    margin-top: 15px;
    gap: 60px;
}
.home-3{
    margin: 2px 15px;
}
.home-4{
    display: flex;
    gap: 10px;
    padding: 20px 15px;
}
.home-6{
    font-size: 19px;
     font-weight: bold;
    margin: 5px 0px;
}
.img-12{
    width: 55px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid black;
}
.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;

  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #d3cfff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #2bb5f9; 
  }
.text>input{

    width: 95%;
    height: 70px;
    margin: 12px 0px;
}

.span1{
    color: blue;
    font-size: 22px;
    font-weight: bold;
    margin:0px 10px;
}
.p10,.p11,.p12{
           font-size: 17px;
           font-weight: bold;
}
.F{
    width: 104%;
    height: 40px;
    background-color: blue;
    color: aliceblue;
    font-size: 15px;
}
.parents5{
     
    background-color: rgb(202,235,249);
    width: 100%;
    height: 560px;
    margin: 40px 0px;
}
.footer-1{
    text-align: center;
    padding: 30px 0px;
}
.span3{
    color: red;
}
.span4{
    color: rgb(55,168,213);
}
.footer-2{
    display: flex;
    justify-content: space-between;
    margin: 10px 70px;
}
.D1{
    width: 190px;
    height: 145px;
    background-color: rgb(252,181,193);
    margin: 10px 10px;
    padding: 10px 20px;
    

}
.D2{
    color: red;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    padding:10px 52px;
}
.doctor-1{
    width: 248px;
    height: 274px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
    background-color: whitesmoke;
    border: 1px solid white;
}
.c1{
    
    padding: 0px 29px;
    
}
.c2{
    color: gray;
    margin: 9px 51px;
    font-size: 13px;
}
.card{
    margin: 10px 15px;
}
.pagination-dots-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #d3cfff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgb(55,168,213);;
}
.parents6{
    text-align: center;
    margin: 50px 0px;
}
.A1{
    color: red;
    font-style:italic;
    font-weight: bold;
    font-size: 30px;
}
.doctor-3{
    font-size: 40px;
}
h2>.card4{
    color: hsl(240, 100%, 50%);
    font-size: 40px;
}
.imgcard_1{
    border: 2px dashed red;
    width: 318px;
    height: 340px;
    border-radius: 3px;
    font-weight: 10px;
}
.img-13{
    width: 317px;
    height: 240px;
    border-radius: 4px;
}
.doctor-4{
    padding: 5px 58px;
    font-size: 30px;
}
.doctor-6{
    font-size: 25px;
    padding: 5px 58px;
}
.doctor-5{
    padding: 7px 99px;
    color: red;
    font-style: italic;
    font-size: 23px;
    font-weight: bold;
}
.parents7{
    display: flex;
    margin: 10px 60px;
    gap: 10px;
}
.pagination-dots-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #d3cfff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgb(55,168,213);;
}
.doctor-7{
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
    font-size: 17px;

}
u{
    color: red;
}
.parents8{
    margin: 60px 0px;
    background-color: rgb(70,162,210);
    height: 265px;
    color: aliceblue;
}
.text-3{
    text-align: center;
    font-weight: 50px;
    font-size: 25px;
    padding-top: 40px;
}
.text-4{
    text-align: center;
    margin: 8px 0px;
    font-size: 45px;
}
.text-5{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0px;
}
.text-6{
border-left: 1px solid white;
display: block;
color: black;
font-size: 15px;
padding: 0px 10px;
height: 50px;

}
.Bottun-1{
    width: 170px;
    height: 40px;
    font-size: 15px;
    background-color: blue;
    color: aliceblue;
    margin: 5px;
}
.text-7{
    margin: 11px 0px;
    color: whitesmoke;
    font-size: 25px;
}
