*{
  padding: 0;
  margin: 0;
}
.img10{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.img1{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.img2{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.img3{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.img4{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.img5{
  width: 100px;
  height: 70px;
  object-fit: cover;
}
.img6{
  width: 100px;
  height: 70px;
  object-fit: cover;
}
.img7{
  width: 100px;
  height: 50px;
  object-fit: cover;
}
.img8{
  width: 100px;
  height: 90px;
  object-fit: cover;
}
.img9{
  width: 100px;
  height: 70px;
  object-fit: cover;
}
:root{
  --duration:2s;
  --tototalitmes:10;
}
.wrapper{
  position: relative;
  display: flex;
  height: 8vw;
  width: 8vw;
 /* overflow: hidden;*/
}
.item-item{
position: absolute;
height: inherit;
width: 8vw;
left: 100%;
animation: scrollX var(---daration) linear infinite;
animation-delay: calc(var(--duration)/var(--tototalitmes)*(var--totalitems)-var(img1));
}
@keyframes scrollX {
  to{
    left: -8vw;
  }
}