body {
  background-color: #2a0d16;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.wine-glass {
  position: relative;
  height: 350px;
  width: 200px;
}

@keyframes wave {
  0%,50%, 100% {
    transform: rotate(15deg);
  }
  25%,75% {
    transform: rotate(-15deg);
  }
}

.glass {
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color:  rgb(255, 160, 180);
  top: 60px;
  left: 25px;
  transform-origin: bottom;
   animation: move 2s linear infinite;
}

.glass::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  width:100px;
  height: 0;
  border-bottom: 100px solid rgb(255, 160, 180);
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  top: -40px;
  left: 2px;
}

.wine {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: #8b0000;
  border-radius: 0 0 50% 50%;
}

.stem {
  width: 8px;
  height: 60px;
  background-color: rgb(255, 160, 180);
  margin: 0 auto;
}

.base {
  width: 60px;
  height: 10px;
  background-color: rgb(255, 160, 180);
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 5px;
}