*{
    margin: 0;
    padding: 0;
}
.parents{
    height: 300vh;
    border-radius: 20px;
    border: 1px solid black;
    margin: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.nav_1{
    display: flex;
    gap: 20px;
}
.A{
    width: 50px;
    height: 25px;
    border-radius: 10px;
}
.B{
    width: 50px;
    height: 25px;
    border-radius: 10px;
}
.img_logo{
      display: flex;
      justify-content: center;
}
.img{
    width: 85px;
    height: 85px;
    border-radius: 50px;
    border: 1px solid black;
    
}
.imgtext{
    width: 110px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    right: 39%;
    top: 20%;
    rotate: -5deg;
    background-color: white;

}
.text_1{
         text-align: center;
}

button{
    width: 85px;
    height: 30px;
    border-radius: 50px;
    color: aliceblue;
    background-color: black;
    position: absolute; 
    left: 46%;
    top: 50%;
}