*{
    margin: 0px;
    padding: 0px;
}
/* {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}
*/
  
.block{
   animation: appear 5s linear;
   animation-timeline: view();
   animation-range:entry 0% cover;
}
.parents{
    display: flex;
    justify-content: space-between;
    margin: 3px 50px;
    height: 78px;
    
}
.parents_1{
   
 display: flex;
 gap: 10px;
}
.parents1_1{
    display: flex;
    gap: 20px;
}
.child3{
    display: flex;
    margin: 13px 5px;
}

.p1{
    margin:0px 0px;
    opacity: 0.5;
    font-size: 20px;
}
.p2{
    margin: 6px 0px;
    font-size: 20px;
}

.A{
    margin: 2px 10px;
}
.B{
    margin: 0px 7px;
}
.p3{
   margin: 0px 0px;
    opacity: 0.5;
    font-size: 20px;
}
.p4{
    margin: 8px 5px;
    font-size: 20px;
}
.child4{
    display: flex;
    margin: 13px 5px;
}
.p5{
    margin: 0px 7px;
    opacity: 0.5;
    font-size: 20px;
}
.p6{
    margin: 6px 7px;
    font-size: 20px;
}

.child5{
    display: flex;
    margin: 13px 5px;

}
.img-1{
     height: 78px;
     width: 290px;
     margin: 0px 20px;
}
.img-2{
    height: 70px;
    width: 90px;
    margin: 2px 0px;
}
.img-3{
    height: 44px;
    width: 40px;
}
.img-4{
    height:35px;
    width:35px;
    margin: 6px 5px;
}
.img-5{
    height:35px;
    width: 47px;
   margin: 4px 3px;
}
.img-6{
    height: 40px;
    width: 60px;
    margin: 13px 5px;
}
.child_2  ul{  
    display: flex;
    list-style: none;
    gap: 50px;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0px;
}
.child_2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    border: 1px solid skyblue;
    background-color: rgb(125, 163, 244);
    color: aliceblue;
}
.k>input{
    width:190px;
    height: 55px;
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-weight: bold;
    font-size: 22px;
    border: 0px solid skyblue;
}
.parents2{
    background-image: url(../images/img3.jpeg);
    height: 280px;
    color: aliceblue;
}
span{
    color: red;
    font-size: 22px;
}
.child_3{
    padding:0px 50px;
    padding-top: 30px;
    font-size: 20px;
    display: flex;
    gap:5px ;
}
h1{
    font-size: 35px;
    margin: 25px 10px;

}
.sumit{
    font-size: 30px;
}
.child_4{
    padding: 0px 50px;
}
.E{
    margin: 30px 50px;
    width: 140px;
    height: 38px;
    font-size: 17px;
    background-color: rgb(125, 163, 244);
    color:white ;
}
.child_6>ul{
    display: flex;
    gap: 25px;
    list-style: none;
    height: 45px;
   margin: 0px 80px;
   margin-top: 20px;
    font-size: 14px;
    font-weight: bold
    
}
  .nav_1{
    border-bottom: 1px solid gray;
  }

/*li:hover{
    background-color: blue;
}*/
.parents3{
    display: flex;
    justify-content: space-between;
}
.logHr{
    border: none;
    border-bottom: 2px dashed blue;
    margin: auto;
    width: 92%;
   
}
.child_7{
    margin: 30px 52px;
}
.img-7{
    width: 390px;
    height: 270px;
    margin: 25px 50px;
    
}
.H{
    margin-top: 2px;
}
.p7{
    margin: 5px 10px;
}
.parents4{
    display: flex;
    margin: 20px 20px;
}

.child_10{
    margin: 15px 60px;
    
}
hr{
    border: none;
    border-bottom:2px dashed blue;
    margin: 40px 0;
}
.child_11{
    margin: 35px 20px;
    padding:20px 0px ;
    width: 50%;
    height: 420px;
    border: 1px solid black;
    border-radius: 10px;

}

.child_12{
    margin: 18px 20px;
}
i{
    font-size: 35px;
    font-weight: bold;
    color: blue;
}
.p9{
    font-size: 17px;
}
.head{
    margin: 38px 0px;
}
.fisthr{
     border: 1px solid gray;
     margin: 15px 0px;
}
.Secondhr{
    border: 1px solid gray;
    margin: 15px 0px;
}
.threehr{
    border: 1px solid gray;
    margin: 15px 0px;
}
.fourhr{
    border: 1px solid blue;
    margin: 15px 0px;
}
.fivehr{
    border: 1px solid blue;
    margin: 19px 0px;
}
.sixhr{
    border: 1px solid gray;
    margin: 15px 0px;

}
.sevenhr{
    border: none;
    border-bottom: 2px dashed blue;  
}
.p13{
    margin: 0px 55px;
    font-size: 15px;
}
.no{
    border-left: 1px solid blue;
    display: block;
    color: black;
    font-size: 15px;
    padding: 0px 10px;
}
.Box2 {
     width: 50%;
     height: 400px;
}
.m1{
     border: 1px solid black;
     display: flex;
}
.img-8{
     
    width: 60px;
    height: 60px;
}
.img-9{
     height: 200px;
     width: 250px;
}
.form{
    margin: 3px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.span2{
    border-left:1px solid blue;
}
input {
   height: 40px;
   width: 95%;
   padding-left: 15px;
   border-radius: 10px;
}
.box3{
    display: flex;
    width: 200%;
    gap: 30px;
    margin: 40px 0px;
}
.boxchild_1{
    width: 90%;
    height: 315px;
    border: 1px solid gray !important;
}
.O{
    display: flex;
    margin: 0px 15px;
    margin-top: 15px;
    gap: 60px;
}
.img-8{
    height: 55px;
    width: 52px;
}
.img-9{
     height: 170px;
     width: 290px;
     margin: 0px 15px;
}
h4{
    margin: 0px ;
}
.k1{
    font-size: 15px;
}
.Z{
    display: flex;
    gap: 10px;
    margin: 5px 15px;
}
.img-10{
    width: 55px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid black;
}
.u {
     font-size: 18px;
     font-weight: bold;
    margin: 5px 0px;
}
.boxchild_2{
    width: 90%;
    height: 313px;
    border: 1px solid #808080;
    
}

.img-11{
    height: 55px;
    width: 52px;
    margin: -11px;
}
.home-1{
    display: flex;
   margin:18px 21px;
    gap:40px;
}
.home-3{
    margin: 23px 19px;
}
.home-4{
    display: flex;
    gap: 10px;
    padding: 20px 19px;
}
.home-6{
    font-size: 19px;
     font-weight: bold;
    margin: 5px 0px;
}
.img-12{
    width: 55px;
    height: 50px;
    border-radius: 40px;
    border: 1px solid black;
}
.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 10px;

  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #d3cfff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #2bb5f9; 
  }
.text>input{

    width: 95%;
    height: 70px;
    margin: 12px 0px;
}

.span1{
    color: blue;
    font-size: 22px;
    font-weight: bold;
    margin:0px 10px;
}
.p10,.p11,.p12{
           font-size: 17px;
           font-weight: bold;
}
.F{
    width: 104%;
    height: 40px;
    background-color: blue;
    color: aliceblue;
    font-size: 15px;
}
.parents5{
    background-color: rgb(202,235,249);
    width: 100%;
    height: 560px;
    margin: 40px 0px;
}
.footer-1{
    text-align: center;
    padding: 30px 0px;
}
.span3{
    color: red;
}
.span4{
    color: rgb(55,168,213);
}
.footer-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;
    margin: 10px 0px;
}
.D1{
    width: 190px;
    height: 145px;
    background-color: rgb(252,181,193);
    margin: 10px 10px;
    padding: 10px 20px;
    

}
.D2{
    color: red;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    padding:10px 52px;
}
.doctor-1{
    width: 248px;
    height: 274px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.4);
    background-color: whitesmoke;
    border: 1px solid white;
}
.c1{
    
    padding: 0px 29px;
    
}
.c2{
    color: gray;
    margin: 9px 51px;
    font-size: 13px;
}
.card{
    margin: 10px 15px;
}
.pagination-dots-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #d3cfff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgb(55,168,213);;
}
.parents6{
    text-align: center;
    margin: 50px 0px;
}
.A1{
    color: red;
    font-style:italic;
    font-weight: bold;
    font-size: 30px;
}
.doctor-3{
    font-size: 40px;
}
h2>.card4{
    color: hsl(240, 100%, 50%);
    font-size: 40px;
}
.imgcard_1{
    border: 2px dashed red;
    width: 318px;
    height: 340px;
    border-radius: 3px;
    font-weight: 10px;
}
.img-13{
    width: 317px;
    height: 240px;
    border-radius: 4px;
}
.doctor-4{
    padding: 5px 58px;
    font-size: 30px;
}
.doctor-6{
    font-size: 25px;
    padding: 5px 58px;
}
.doctor-5{
    padding: 7px 99px;
    color: red;
    font-style: italic;
    font-size: 23px;
    font-weight: bold;
}
.parents7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px  0px;
    gap: 10px;
}
.pagination-dots-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    gap: 10px;
  }
  
  .dot {
    height: 10px;
    width: 10px;
    background-color: #d3cfff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: rgb(55,168,213);;
}
.doctor-7{
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
    font-size: 17px;

}
u{
    color: red;
}
.parents8{
    margin-top: 60px;
    background-color: rgb(70,162,210);
    height: 265px;
    color: aliceblue;
}
.text-3{
    text-align: center;
    font-weight: 50px;
    font-size: 25px;
    padding-top: 40px;
}
.text-4{
    text-align: center;
    margin: 8px 0px;
    font-size: 45px;
}
.text-5{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 20px 0px;
}
.text-6{
border-left: 1px solid white;
display: block;
color: black;
font-size: 15px;
padding: 0px 10px;
height: 50px;

}
.Bottun-1{
    width: 170px;
    height: 40px;
    font-size: 15px;
    background-color: blue;
    color: aliceblue;
    margin: 5px;
}
.text-7{
    margin: 11px 0px;
    color: whitesmoke;
    font-size: 25px;
}
.parents9{
    background-image: url(../images/img13.jpeg);
    height:600px;
    width: 100%;
    color: white;
}
.parents10{
    display: flex;
    gap: 60px;
    padding: 50px 100px;
}
.child-31>ul{
    list-style: none;
}
.child-33>ul{
    list-style: none;
}
.child-32>ul {
    list-style: none;
}
.child-34>ul{
    list-style: none;
    
}

.l::before{
    content: "-";
    color: blue;
    padding: 0px 5px;

}
.link{
    margin-bottom:20px;
    font-size: 18px;
}
.l{
    padding: 4px 0px;
}
.link-2{
    font-size: 18px;
    margin-top:75px;
    margin-bottom: 20px;
    font-size: 18px;
}
.L1{
    color: blue;
}
.link3{
    border: 1.5px solid grey;
    margin: auto;
    width: 84%;
}

.child-35{
    width: 280px;
    height: 120px;
    background-color: whitesmoke;
    color: black;
    position: absolute;
    top: 727%;
    left: 75%;
    border-radius: 9px;
    display: none;
}
.link4{
    display: flex;
    padding: 0px 25px;
    padding-top:15px ;
    gap: 15px;
}
.link6{
    text-align: center;
}
.link5{
    color: grey;
}
.link7{
    margin: 5px 0px;
    font-size: 19px;
}
.link8{
    padding: 7px 24px;
    color: grey;
    
}
.img-31{
    width: 50px;
    height: 40px;
}
/*#####################*/
.parents-12{
     display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   color: white;
   

}
.link-15{

    font-size: 20px;
}

.link-9{
    margin: 12px 8px;
}
.img-40{
    width: 300px;
    height: 108px;
    margin: 40px 0;
}
.img-33{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.img-34{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.img-35{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.img-36{
    width: 30px;
    height: 30px;
    border-radius: 5px;
}
.child-39{
    display: flex;
    gap: 10px;
    margin: 13px 0px;
}
.link-13{
    color: rgb(7, 155, 213);
    font-size: 20px;
    font-weight: bold;
    margin: 3px 0px;

}
.parents13{
    background-color: rgb(14, 112, 165) ;
    height: 60px;
}
.footerchild{
    padding: 20px 50px;
    margin: 20px 0px;
    display: flex;
    text-align: center;
    gap: 40px;

}
.footerchild-1{
    margin-right:160px;
}

/* This Media Query */

@media(max-width:460px){
    .parents{
        height: 174px;
        display: grid;
        justify-content: center !important;
        align-items: center !important;
    }
    .parents_1{
        margin-top: 10px;
    }
    .parents1_1{
        gap: 15px;
        margin-bottom: 5px;
    }
    .img-3,.img-4,.img-5{
        width: 54px;

        
    }
    .img-5{
        width: 65px;
    }
        .img-1 {
        width: 250px !important;
        height: 90px;
    } 
    .img-2{
        margin-top: 10px;
    }
    

    
    .p1,.p2,.p3,.p4,.p5,.p6{
        display: none;
    }
    .child_3{
            font-size:17px;
            gap: 5px;
            padding: 0px 20px;
            padding-top: 25px
            
    }
    .parents2{
        background-position:center;
        height:230px;
    }
    .E{
        display: none;
    }
    .child_4{
        padding:0  5px;
        text-align: start;
        font-size: 18px;
        margin-left:10px;
        
    }
    h1{
     font-size: 32px;
    }
        .child_6>ul{
             gap:15px;
            height: 30px;
           margin: 0px 20px;
           margin-top: 10px;
            font-size: 6.5px;
            
        }
        .parents3{
            display: flex;
            flex-direction: column-reverse;
        }
        .p7{
        margin:20px 15px;
        }
        .child_7{
            margin:20px 15px;
        }
        .img-7 {
            width: 350px;
            height: 200px;
            margin: 15px 18px;
            
        }
        .parents4{
            display: grid;
        }
       .child_10{
            
            margin-left: 30px;
        }
        .p8{
            font-size: 15px;
            margin-right:40px;
            margin-left: px;
        }
        .H1{
            font-size: 25px;
            margin-right:50px;
            margin-top: 5px;
        
        }
        hr{
            margin:auto;
            width: 95%;
            margin:30px 0px;
        }
        .head{
            font-size: 25px;
        }
       .p10{
        font-size: 13px;
       }
       .p11,.p12,.no{
        white-space: normal;
        width: 350px;
        word-break: break-word;
        font-size: 13px;

       }
       .no{
        white-space:normal;
        width: 310px;
        word-break: break-word;
        font-size: 13px;
       }
       .p13{
        margin: 0px 15px;
       }
       .p14{
        white-space: normal;
        width: 330px;
        word-break: break-word;
        font-size: 13px;

       }
      
       .boxchild_2{
        display: none;
       }
       .sumit{
        font-size: 15px;
       }
       .boxchild_1{
        padding: 5px 2px;
        
       }
       .pagination-dots {
        margin-top: 15px;
        gap: 12px;
    
      }
      
      .dot {
        height: 14px;
        width: 14px;
      }
      .form{
        margin: 3px 20px;
        gap: 14px;
    
    }
    .p6{
           margin: 20px 5px;
    }
    
    input {
       height: 35px;
       width: 95%;
       padding-left: 15px;
    }
    .child_11{
        margin: 35px 30px;
        width: 75%;
        height: 470px;
    
    }
    .child_12{
        margin: 25px 24px;
    }
    .footer-2 {
        display: grid;
        gap: 17px;
        margin: auto;
        display: flex;
        overflow: scroll;
        justify-content: start;
        height: 310px;
        width: 95%;
        scrollbar-width: none;
    }
     .parents5{
           height: 1135px;
     }

    .D1{
        width: 239px;
       
        margin: 10px 12px;
    }
    .D2{
        padding:0px 80px;
        margin-top: 5px;
    }
    .doctor-1{
       width: 300px;
    }
    .c1{
        
        padding: 6px 50px;
        
    }
    .c2{
       
        margin: 7px 65px;
    }
    .pagination-dots-1 {
        
        margin-top: 50px;
        gap: 14px;
      }
      
     .parents7{
       display: flex;
       overflow: scroll;
       justify-content: start;
       scrollbar-width: none;
       margin: auto;
       height: 390px;
       width: 95%;

     }
     .A1{
        font-size: 50px;
    }
    .doctor-3{
        font-size: 50px;
    }
    h2>.card4{
        font-size: 50px;
    }
    .F{
        width: 80%;
        margin-left:  28px;
        height: 50px;
        font-size: 18px;
    }
    .child-35{
        display: none;
    }
    .parents8{
        height: 350px;
        padding: 0px 10px;
    }
    .text-5{
        display: grid;

    }
    .parents5{
    background-color: rgb(202,235,249);
    width: 100%;
    height: 590px;
    margin: 40px 0px;
}
   .text-6{
    border-left:none ;
   }
   .Bottun-1{
      width: 255px;
      height:50px;
      font-size:20px;
   }
   .text-7{
    margin: 5px 0;
    font-size: 33px;
   }
   .parents10{
    display: grid;
    padding-left: 30px;
    font-size: 20px;
   }
   .parents9{
    height: auto;
   }
   .link{
    font-size: 30px;
    margin: 20px 0px;
   }
   .link-2{
    font-size: 30px;
    margin: 20px 0px;
   }
   .parents-12{
    display: grid;
   }
   .img-40{
     width: 320px;
     height: 130px;
     margin: 0px 20px;
     margin-top: 30px;
   }
   .child-37{
    padding: 0px 25px;
   }
   .link-9{
    font-size: 25px;
   }
   .child-38{
    padding: 0px 25px;
   }
   .link-15{
    font-size: 30px;
    padding: 10px 0px;
   }
   .parents13{
    height: 300px;
   }
   .footerchild{
        display: grid; 
   }
   .footerchild-1{
    margin: 0px 5px;
    font-size: 25px;
   }
   .footerchild-2{
    font-size: 25px;
   }
   .footerchild-3{
    font-size: 20px;
   }
   .child_2{
    display: none;
   }
   .doctor-7{
    margin: 20px 50px;
   }
    }
   
/*2nd media qurey for tablte*/

@media(min-width:460px) and (max-width:780px){
    .parents{
        height: 205px;
        display: grid;
        justify-content: none;
        margin:0px 15px;
    }
    .parents_1{
        margin-top: 7px;
        justify-content: none;
    }
    .parents2{
        background-position: center;
    }
    .parents1_1{
        margin-bottom:15px;
        gap: 50px;
    }
    .img-3,.img-4,.img-5{
        width: 82px;
        height: 43px;


    }
    .img-6{
        width: 130px;
        border-radius: 15px;
        margin:10px 20px;
        height: 45px;
    }
    .img-1{
       width: 450px;
       height: 100px; 
       margin-left: 30px;

    }

    .img-2{
        margin-top: 5px;
        margin-bottom: 7px;
        margin-left: 60px;
        width: 155px;
        height: 105px;
    }
    .p1,.p2,.p3,.p4,.p5,.p6{
        display: none;
    }
    .k{
        display: none;
    }
    .child_2 > ul{
        gap: 16px;
        font-size: 18px;
        padding: 15px 0px;
    }
    .child_2{
        padding: 0px 18px;
        
    }
   

  .child_6>ul{
    font-size: 12px;
    margin: 0px 15px;
    gap: 15px;  
}
  .nav_1{
   margin: 17px 0px;
   
  }
  .parents3{
    display: grid;
    justify-content: none;
}

.logHr{
    margin: 10px 28px; 
}
.child_7{
    margin: 8px  20px;
}
.img-7{
    width:600px;
    height: 300px;
    margin-bottom: 20px;
}

.p7{
    margin: 5px 20px;
    font-size: 15px;
}
.parents4{
    display: grid;   
}
.H1{
    margin: 15px 0px;
    font-style: normal;
    font-size: 30px;
}
.head{
    font-size: 30px;
    font-style: normal;
}
.sumit{
    font-size: 30px;
    font-style: normal;
}

.pagination-dots{
    display: none;
}
.child_11{
    margin:0px 180px;
    width: 54%;
    display: none;
}
.child_10{
    margin: 0px 20px;
}
.box3{
    display:flex;
    margin: 0px 4px;
}
.home-4{
    padding: 0px 15px;
}

input {
    height: 40px;
    width: 95%;
    padding-left: 15px;
    margin: 5px 0px;
    border-radius: 10px;
 }
 .F{
    width: 255px;
    height: 50px;
    margin: 5px 59px;
    font-size: 19px;
 }
 .parents5{
   height: inherit;
   margin: 90px 0px;
 }
     .footer-2 {
        display: flex;
        overflow: scroll;
        scrollbar-width: none;
        margin: auto;
        width: 95%;
        height: 380px;
        gap: 20px;
        justify-content: start;
    }
 .footer-1{
    padding-top: 50px;
 }
 .span3,.span4{
    font-size: 60px;
    font-style: italic;
 }
 h1{
    margin: 15px 0px;
    font-size: 40px;
    font-weight: bold;
 }
 .H{
    margin: 15px 10px;
 }
 
 .D1{
    width: 338px;
    height: 200px;
    margin: 10px 10px; 
}
.D2{
    padding:0px 69px;
    margin-top: 5px;
    font-size: 35px;
}
.doctor-1{
   width: 400px;
   height: 357px;
}
.c1{
    
    padding: 8px 57px;
    font-size: 20px;
    
}
.c2{
   
    margin: 0px 80px;
    margin-bottom: 10px;
    font-size: 20px;
}
.pagination-dots-1 {
    display: none;
  }
  
 .parents7 {
        display: flex;
        gap: 15px;
        margin: auto;
        justify-content: start;
        overflow: scroll;
        height: 480px;
        width: 95%;
    scrollbar-width: none;
    }
 .A1{
    font-size: 70px;
    margin: 0px 300px;
 }
 .doctor-3{
    font-size: 73px;
    margin: 5px 190px;
 }
 h2>.card4{
    font-size: 60px;
    margin: 5px 88px;
    font-style: italic;
 }
.img-13{
     height: 310px;
     width: 449px;
}
.imgcard_1{
    height: 440px;
    width: 450px;
}
.doctor-4{
    font-size: 40px;
    margin: 5px 20px;
}
.doctor-6{
    font-size:38px;
    margin: 5px 15px;

}
.doctor-5{
    font-size: 38px;
    margin: 0px 40px;
}


 .parents6{
    margin-top: 0px;
 }
 .pagination-dots-2{
    display: none;
 }
 .child-35{
    display: none !important;
 }

.parents6{
    padding-right: 300px;
    margin-top: 15px;
}
.parents8{
    height: 250px;
    margin-top:20px;

}

.parents10{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    padding: 50px 60px;
}
.parents9{
    height: auto;
}


.link-10,.link-9{
    display: none;
}
.img-40{
    width: 400px;
    height: 150px;
}
.footerchild{
    padding: 20px 10px;
    margin: 20px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 0px;

}
.footerchild-1{
    margin-right:5px;
    width:220px;
    white-space: normal;
      word-wrap:word-break;
}
.parents13{
    
    height:100px;
}
.box3{
    display:flex;
   justify-content: center !important;
   align-items: center !important;
    width: 100%;
    gap:0px;
    margin: 40px 0px;
}
    .footer-2 {        display: flex;
        overflow: scroll;
        scrollbar-width: none;
        margin: auto;
        width: 95%;
        height: 499px;
        gap: 20px;
        justify-content: start;
    }
.boxchild_1{
    width: 400px;
    height: 315px;
    border: 1px solid gray !important;
}
.boxchild_2{
    width: 90%;
    height: 315px;
    display: none;
    border: 1px solid gray !important;
}
.Box2{
    display: none;
}

}